.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../assets/img/a1.jpg");
  background-size: cover;
  background-position: center center;
}

.bg-image-register {
  background-image: url("../../assets/img/a4.jpg");
  background-size: cover;
  background-position: center center;
}

.social-login a {
  display: block;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.social-login a:hover {
  color: #fff;
}
.social-login a.facebook {
  background: #3b5998;
}
.social-login a.facebook:hover {
  background: #344e86;
}
.social-login a.twitter {
  background: #1da1f2;
}
.social-login a.twitter:hover {
  background: #0d95e8;
}
.social-login a.google {
  background: #ea4335;
}
.social-login a.google:hover {
  background: #e82e1e;
}
